{% extends 'blog/base.html' %}
{% load blog_tags %} {% block content  %}

{% if query %}
<h1> Posts containing  {{query}}</h1>
{% with results.count as total_results%}
 Found {{total_results}} results
{% endwith %}
{% for post in results%}
<h4>
    <a href="{{post.get_absolute_url}}">
    {{post.title}}
    </a>
</h4>
{{post.body|markdown|truncatewords_html:10}}
{% empty %}
<p> There are no results for our query</p>
{% endfor %}
{% comment %} <a href="{% url 'blog:post_search' %}">
    Search Again
<a>  {% endcomment %}
 <a href="{% url 'blog:post_search' %}">
    <button>
        Search Again
    </button>
<a> 
{% else %}
<form method="GET">
{{form.as_p}}
<input type="submit" value="search" />
</form>
{% endif %}
{% endblock %}